/** -----------------------HEADER---------------------- */
@media screen and (max-width: 418px) {
  .mobile-container {
    padding: 40px 24px 24px 24px;
  }

  .menu-social-list {
    gap: 36px;
  }
  .mobile-menu {
    font-weight: 700;
    font-size: 33px;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }

  .menu-number {
    font-size: 24px;
  }
  .mobile-menu-item,
  .mobile-menu-address-item {
    margin-bottom: 30px;
  }
  .input-check-text {
    font-size: 9px;
    font-weight: 500;
  }
  .modal-form {
    padding: 52px 12px 16px 12px;
  }
  .modal-sub-btn {
    min-height: 40px;
    min-width: 100px;
  }
}
/** -----------------------MODAL-WINDOW---------------------- */
@media screen and (max-width: 418px) {
  .modal-window {
    width: 100vw;
    height: 100vh;
  }
}

/** -----------------------HEADER---------------------- */
@media screen and (max-width: 768px) {
  .project-sorting-container {
    padding-right: 50px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 736px;
  }
  .mobile-menu {
    display: none;
  }

  .header-container {
    justify-content: center;
  }

  .open-btn-menu {
    display: none;
  }
  .header-list,
  .header-address {
    display: unset;
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .header-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .header-logo {
    margin-right: 120px;
  }
  .header-link {
    font-weight: 500;
    color: var(--primary-color);
  }

  .header-address-list {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .header-address-link {
    color: var(--description-text-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .header-address {
    font-style: normal;
  }

  .current {
    position: relative;
  }

  .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -25px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
}

/** -----------------------HERO---------------------- */

@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--bg-gradient),
      url(../images/hero-bg/hero-bg-tablet.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--bg-gradient),
        url(../images/hero-bg/hero-bg-tablet-2x.jpg);
    }
  }
  .hero-container {
    padding: 112px 0;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    min-height: 120px;
    width: 496px;
    margin-bottom: 36px;
  }
}
/** -----------------------ABOUT---------------------- */

@media screen and (min-width: 768px) {
  .about-list {
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px 24px;
  }

  .about-title {
    text-align: start;
  }
  .container-about {
    padding-left: 0;
    padding-right: 0;
  }
}
/** -----------------------TEAM---------------------- */
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
    align-items: center;
  }
}

/** -----------------------CUSTOMERS------------------------ */

@media screen and (min-width: 768px) {
  .customers-list {
    gap: 72px 24px;
  }
}
/** -----------------------FOOTER------------------------ */

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    padding-left: 108px;
    padding-right: 108px;
  }
  .footer-presentation {
    margin: 0;
  }
  .footer-appl-wrap {
    flex-direction: row;
  }
  .footer-input {
    width: 264px;
  }

  .footer-link,
  .social-block-title,
  .footer-appl-title {
    display: block;
    text-align: start;
  }
}
/** -----------------------MODAL-WINDOW---------------------- */
@media screen and (min-width: 768px) {
  .modal-window {
    width: 408px;
  }
  .modal-form {
    padding: 72px 24px 24px 24px;
  }
}

/** -----------------------PORTFOLIO---------------------- */

@media screen and (min-width: 768px) {
  .project-sorting {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .project-sorting-btn {
    padding: 12px 24px;
  }

  .project-sorting-container {
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 64px;
  }
  .project-card-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
  .picture-card {
    width: 356px;
    height: 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .header-address-item:not(:last-child) {
    margin-bottom: 12px;
  }
  .header-list {
    margin-right: 120px;
  }
}

/** --------------1200---------------**/
.click-nav:hover {
  color: var(--btn-hover-color);
}
.btn-fam:hover {
  background-color: var(--btn-hover-color);
}

/** -----------------------HEADER---------------------- */
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-address-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .header-logo {
    margin-right: 76px;
  }
  .header-link {
    transition: color var(--transition-hover-function);
  }

  .header-address-link {
    transition: color var(--transition-hover-function);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .header-list {
    margin-right: 320px;
  }
}

.current-mobile {
  color: #404bbf;
}
/** -----------------------HERO---------------------- */

@media screen and (min-width: 1200px) {
  .hero {
    background-image: var(--bg-gradient),
      url(../images/hero-bg/hero-bg-desktop.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--bg-gradient),
        url(../images/hero-bg/hero-bg-desktop-2x.jpg);
    }
  }
  .hero-container {
    padding: 188px 0;
  }
  .hero-title {
    margin-bottom: 48px;
  }
}

/** -----------------------ABOUT---------------------- */

@media screen and (min-width: 1200px) {
  .about-icon {
    display: unset;
    width: 264px;
    height: 112px;
    padding: 25px 100px;
    background-color: var(--light);
    margin-bottom: 8px;
  }

  .container-about {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
  }

  .about-list {
    align-items: baseline;
  }

  .about-item {
    max-width: 264px;
  }
  .main-subtitle-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .about-text {
    font-weight: 400;
  }
}
/** -----------------------GALLERY---------------------- */

@media screen and (min-width: 1200px) {
  .gallery {
    display: unset;
  }
  .gallery-img {
    width: 100%;
    height: 100%;
  }

  .gallery-container {
    padding-bottom: 120px;
  }

  .gallery-title {
    margin-bottom: 72px;
  }

  .gallery-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .gallery-item {
    width: 360px;
    height: 300px;
  }
}

/** -----------------------TEAM---------------------- */

@media screen and (min-width: 1200px) {
  .team-list {
    gap: 24px;
  }
  .container-team {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .team-social-link:hover {
    background-color: var(--btn-hover-color);
  }
}

/** -----------------------CUSTOMERS------------------------ */

@media screen and (min-width: 1200px) {
  .container-customers {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .customers-list {
    gap: 24px;
  }
  .customers-item:hover {
    border-color: var(--btn-hover-color);
  }

  .customers-item:hover .customers-icon {
    fill: var(--btn-hover-color);
  }
}

/** -----------------------FOOTER------------------------ */

@media screen and (min-width: 1200px) {
  .footer-container {
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  .footer-presentation {
    margin-right: 40px;
  }
  .footer {
    padding: 100px 0;
  }
  .footer-social-item:hover {
    background-color: var(--footer-color-icon-hover);
  }
  .project-sorting-container {
    margin-bottom: 72px;
  }
}

/*! -------------------------------------------PORTFOLIO------------------------------------------------------ */

/** -----------------------MENU---------------------- */

@media screen and (min-width: 1200px) {
  .project-sorting {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .project-card-list {
    gap: 48px 24px;
  }
  .project-sorting-btn:hover {
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .project-card-item:hover .wrapper-card {
    border-color: var(--light);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .project-card-item:hover .text-overlay {
    transform: translate(0, 0);
  }
}

/** -----------------------MODAL-WINDOW---------------------- */

@media screen and (min-width: 1200px) {
  .modal-close-btn:hover {
    background-color: var(--btn-hover-color);
  }
  .modal-close-btn:hover .modal-close-btn-icon {
    fill: var(--white-color);
  }
}
