:root {
  --primary-color: #2e2f42;
  --description-text-color: #434455;
  --logo-btn-color: #4d5ae5;
  --btn-hover-color: #404bbf;
  --white-color: #ffffff;
  --light: #f4f4fd;
  --secondary-background-color: #f4f4fd;
  --border-color: #e7e9fc;
  --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --customers-border-icon-color: #8e8f99;
  --footer-color-icon-hover: #31d0aa;
  --transition-hover-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --background-color-backdrop: rgba(46, 47, 66, 0.4);
  --modal-window-background: #fcfcfc;
  --padding-bottom: 20px;
  --padding-left: 100px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--description-text-color);
  background-color: var(--white-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.click-nav:focus {
  color: var(--btn-hover-color);
}

.main-subtitle-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--primary-color);
  letter-spacing: 0.02em;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--primary-color);
  text-align: center;
  letter-spacing: 0.02em;
}
.btn-fam {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
  transition: background-color var(--transition-hover-function);
}

.btn-fam:focus {
  background-color: var(--btn-hover-color);
}

/** -----------------------HEADER---------------------- */

.header-list,
.header-address {
  display: none;
}

.open-btn-menu {
  background-color: transparent;
  border: none;
  width: 32px;
  height: 22px;
}

.open-btn-icon {
  display: block;
  stroke: #2e2f42;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-color);
}

.full-logotype {
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-btn-color);
}

.header-different {
  color: var(--primary-color);
}

.mobile-container {
  padding: 80px 24px 40px 40px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.5);
  transition: transform var(--transition-hover-function);
}

.mobile-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(0, -50%) scale(0);
}

.mobile-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu-address-link,
.mobile-menu-link {
  color: inherit;
}

.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 7px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-hover-function);
}

.menu-close-btn:focus {
  background-color: var(--btn-hover-color);
}

.menu-close-btn:focus .menu-close-btn-icon {
  fill: var(--white-color);
}
.menu-close-btn-icon {
  height: 8px;
  width: 8px;
  transition: fill var(--transition-hover-function);
}

.menu-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.menu-number {
  color: var(--logo-btn-color);
}

.mobile-menu-item,
.mobile-menu-address-item {
  margin-bottom: 40px;
}

.menu-social-list {
  display: flex;
  justify-content: start;
  gap: 56px;
  flex-wrap: wrap;
}

.menu-social-link {
  width: 40px;
  height: 40px;
  padding: 8px 8px;
  background-color: var(--logo-btn-color);
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  transition: background-color var(--transition-hover-function);

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-social-icon {
  fill: var(--light);
  width: 100%;
  height: 100%;
}

/** -----------------------HERO---------------------- */
.hero {
  background-color: var(--primary-color);
  background-image: var(--bg-gradient),
    url(../images/hero-bg/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient),
      url(../images/hero-bg/hero-bg-mobile-2x.jpg);
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 112px 0;
}
.hero-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--white-color);
  text-align: center;
  letter-spacing: 0.02em;
  width: 320px;
  height: 80px;
  margin-bottom: 72px;
}
.hero-button {
  color: var(--white-color);
  background-color: var(--logo-btn-color);
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/** -----------------------ABOUT---------------------- */

.about-icon {
  display: none;
}

.container-about {
  padding-top: 96px;
  padding-bottom: 96px;
}

.about-item {
  max-width: 356px;
}

.about-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.about-title {
  text-align: center;
  margin-bottom: 8px;
}

.about-text {
  font-weight: 500;
}

/** -----------------------GALLERY---------------------- */
.gallery {
  display: none;
}

/** -----------------------TEAM---------------------- */

.team {
  background-color: var(--secondary-background-color);
}

.team-item {
  background-color: var(--white-color);
  width: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-img {
  width: 264px;
  height: 260px;
}

.container-team {
  padding-bottom: 96px;
  padding-top: 96px;
}

.team-top-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  margin-bottom: 72px;
}

.team-subtitle {
  font-size: 20px;
  line-height: 1.2;
}

.team-item-text {
  margin-bottom: 8px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.team-wrapper {
  padding: 32px 0px;
  text-align: center;
}
.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-content: center;
}

.team-social-link {
  height: 100%;
  width: 100%;
  display: block;
  padding: 12px;
  border-radius: 50%;
  background-color: var(--logo-btn-color);
  justify-content: center;
  align-content: center;
  transition: background-color var(--transition-hover-function);
}

.team-social-link:focus {
  background-color: var(--btn-hover-color);
}

.team-social-icon {
  display: block;
  fill: var(--light);
}

/** -----------------------CUSTOMERS------------------------ */

.container-customers {
  padding-bottom: 96px;
  padding-top: 96px;
}

.customers-item {
  width: 168px;
  height: 88px;
  justify-content: center;
  align-content: center;
  padding: 16px 32px 16px 32px;
  border: 1px solid var(--customers-border-icon-color);
  border-radius: 4px;
  transition: border-color var(--transition-hover-function);
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
  margin-top: 72px;
}

.customers-item {
  width: 168px;
  height: 88px;
  justify-content: center;
  align-content: center;
  padding: 16px 32px 16px 32px;
  border: 1px solid var(--customers-border-icon-color);
  border-radius: 4px;
  transition: border-color var(--transition-hover-function);
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 72px;
}

.customers-icon {
  fill: var(--customers-border-icon-color);
  transition: fill var(--transition-hover-function);
}

.customers-item:focus {
  border-color: var(--btn-hover-color);
}

.customers-item:focus .customers-icon {
  fill: var(--btn-hover-color);
}

/** -----------------------FOOTER------------------------ */

.footer {
  background-color: var(--primary-color);
  color: var(--light);
  padding: 96px 0;
}
.footer-different {
  color: var(--light);
}

.footer-presentation {
  margin: 0 auto;
}

.footer-link,
.social-block-title,
.footer-appl-title {
  display: block;
  text-align: center;
}

.footer-text {
  margin-top: 16px;
  width: 264px;
}
.social-block-title {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  padding: 8px 8px;
  background-color: var(--logo-btn-color);
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  transition: background-color var(--transition-hover-function);
}

.footer-social-icon {
  display: block;
  fill: var(--light);
}
.footer-social-item:focus {
  background-color: var(--footer-color-icon-hover);
}

.footer-appl-title {
  margin-bottom: 16px;
}

.footer-appl-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-input {
  height: 40px;
  width: 100%;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding: 8px 0 8px 16px;
  transition: border-color var(--transition-hover-function);
}

.footer-input::placeholder {
  color: var(--white-color);
}

.footer-input:focus {
  border-color: var(--logo-btn-color);
}

.btn-appl {
  max-width: 165px;
  background-color: var(--logo-btn-color);
  border-radius: 4px;
  color: var(--white-color);
  padding: 8px 24px;
  display: flex;
  margin: 0 auto;
}

.btn-appl-icon {
  width: 24px;
  height: 24px;
  margin-left: 16px;
  fill: var(--white-color);
}

/*! -------------------------------------------PORTFOLIO------------------------------------------------------ */

/** -----------------------MENU---------------------- */

.project-sorting-btn {
  background-color: var(--light);
  color: var(--logo-btn-color);
  padding: 8px 16px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: box-shadow var(--transition-hover-function);
}

.project-sorting-btn:focus {
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-card-text {
  color: var(--description-text-color);
}

.project-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.project-sorting-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
  margin-bottom: 48px;
}

.project-sorting {
  padding-top: 48px;
  padding-bottom: 48px;
}

.project-card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.project-card-link {
  display: block;
}
.picture-card {
  width: 396px;
  height: 280px;
}

.wrapper-card {
  border: 1px solid var(--border-color);
  border-top: none;
  padding: 32px 0 32px 16px;
  transition: border-color var(--transition-hover-function),
    box-shadow var(--transition-hover-function);
  max-width: 396px;
}

.project-card-item:focus .wrapper-card {
  border-color: var(--light);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-card-overlay {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  transition: transform var(--transition-hover-function);
  background-color: var(--logo-btn-color);
  color: #f4f4fd;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
}

.project-card-item:focus .text-overlay {
  transform: translate(0, 0);
}

/** -----------------------MODAL-WINDOW---------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-backdrop);
  z-index: 100;

  transition: opacity var(--transition-hover-function),
    visibility var(--transition-hover-function);

  transform: rotate(-50%, 0) scale(1);
  transition-duration: 300ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--modal-window-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-hover-function);
  width: 392px;
  height: 584px;
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 7px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-hover-function);
}

.modal-close-btn:focus {
  background-color: var(--btn-hover-color);
}

.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--white-color);
}

.modal-close-btn-icon {
  width: 8px;
  height: 8px;
  transition: fill var(--transition-hover-function);
}

.modal-form {
  padding: 72px 16px 24px 16px;
}

.title-modal-form {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.modal-input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  padding: 11px 0 11px 38px;
  transition: border-color var(--transition-hover-function);
}

.modal-input:focus {
  border-color: var(--logo-btn-color);
}

.modal-input:focus + .input-icon {
  fill: var(--logo-btn-color);
}

.text-area-modal::placeholder {
  color: var(--customers-border-icon-color);
  opacity: 0.5;
}

.input-area-wrapper {
  position: relative;
  margin-top: 26px;
}

.first-type {
  margin-top: 34px;
}

.input-area-wrapper-last {
  margin-top: 16px;
}

.input-icon {
  width: 18px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 16px;
  transform: translateY(33%);
  transition: fill var(--transition-hover-function);
}

.input-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(calc(-100% - 4px));
}

.text-area-modal {
  width: 100%;
  height: 120px;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  display: block;
}

.text-modal-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  transition: border-color var(--transition-hover-function);
}
.text-modal-input:focus {
  border-color: var(--logo-btn-color);
}

.input-check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.check-icon-form {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color var(--transition-hover-function),
    fill var(--transition-hover-function);
}

.policy-link {
  color: #4d5ae5;
}

.modal-policy-check:checked + .check-text .input-check-text .check-icon-form {
  background-color: var(--btn-hover-color);
  fill: var(--secondary-background-color);
}

.modal-sub-btn {
  min-height: 56px;
  min-width: 169px;
  padding: 0;
  background-color: var(--logo-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
}
.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 96px;
}
